<%= form_for [@deck.player, @deck, @matchup], html: {class: 'form-horizontal'} do |f| %>

<% if @matchup.errors.any? %>
  <div id="error_explanation">
      <h1>
        <%= pluralize(@matchup.errors.count, "error") %>
        stopped the matchup from being created.  Here's why:
      </h1>
        <% @matchup.errors.full_messages.each do |msg| %>
          <p> <%= msg %> </p>
        <% end %>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :character_class, class: "col-md-1 control-label"  %>
      <div class="col-md-5">
    <%= f.select :character_class, ["Druid", "Hunter", "Mage", "Paladin", "Priest", "Rogue", "Shaman", "Warlock", "Warrior"], class: 'form-control' %>
  </div>
</div>

  <div class="field form-group">
    <%= f.label :play_style, class: "col-md-1 control-label" %>
    <div class="col-md-5">
    <%= f.select :play_style, ["Aggro", "Tempo", "Control", "Midrange", "Ramp", "Combo"], class: 'form-control' %>
  </div>
</div>

  <div class="field form-group">
    <%= f.label :wins, class: "col-md-1 control-label" %>
    <div class="col-md-10">
    <%= f.text_field :wins, class: 'form-control' %>
  </div>
</div>

  <div class="field form-group">
    <%= f.label :losses, class: "col-md-1 control-label" %>
    <div class="col-md-10">
    <%= f.text_field :losses, class: 'form-control' %>
  </div>
</div>

  <div class="field form-group">
    <%= f.label :notes, "Add a Note", class: "col-md-1 control-label" %>
    <div class="col-md-10">
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
</div>

  <div class="actions form-group">
    <div class="col-md-10">
      <%= f.submit %>
  </div>
</div>

<% end %>
