<div class="heading">
  <h1> Match-Ups </h1>
  <h3> <%= link_to 'Add a Matchup', new_player_deck_matchup_path(@deck.player, @deck) %> </h3>

  <hr>
  <p> <%= link_to "Back to #{@deck.name}", player_deck_path(@player, @deck) %> | <%= link_to "Back to #{@deck.name}'s Matchups", player_deck_matchups_path(@player, @deck, @deck.matchups) %> </p>
</div>

<div class="row">
<% @matchups.each do |matchup| %>
  <div class="col-md-6 matchups">
<%= link_to matchup.character_class, player_deck_matchup_path(@player, @deck, matchup) %> | <%= matchup.play_style %>
<p> <%= matchup.wins %> wins against | <%= matchup.losses %> losses against </p>
<p> <%= link_to 'Add a Win', increment_wins_player_deck_matchup_path(@player, @deck, matchup), method: :put %> | <%= link_to 'Add a Loss', increment_losses_player_deck_matchup_path(@player, @deck, matchup), method: :put %></p>
  </div>
<% end %>
</div>

<%= column_chart [
  {name: "Wins Against", data: @matchups.map{|t| [t.character_class, t.wins] }},
  {name: "Losses Against", data: @matchups.map{|t| [t.character_class, t.losses] }}] %>


<div class = "matchups_pie">
<h3> Wins Against Playstyles </h3>
<%= pie_chart @matchups.group(:play_style).average(:wins) %>
</div>

<div class = "matchups_pie">
  <h3> Losses Against Playstyles </h3>
<%= pie_chart @matchups.group(:play_style).average(:losses) %>
</div>
