<h1> Match-Ups </h1>

<% @matchups.each do |matchup| %>
<%= link_to matchup.character_class, player_deck_matchup_path(@player, @deck, matchup) %> | <%= matchup.play_style %>
<p> <%= matchup.wins %> | <%= matchup.losses %> </p>
<p> <%= link_to 'Delete This Matchup', player_deck_matchup_path(@player, @deck, matchup), method: :delete %> </p>

<% end %>
<p> <%= link_to "Back to #{@deck.name}", player_deck_path(@player, @deck) %> </p>

<h1> Average Wins By Matchup </h1>
<%= column_chart @matchups.group(:character_class).average(:wins), ytitle: "Avg Wins" %>

<h1> Duration Over Time </h1>
<%= line_chart @matchups.group("date(matchups.updated_at)").sum(:wins) %>
