<h1> View This Matchup <h1>

  <h3> <%= @matchup.character_class %> | <%= @matchup.play_style %> </h3>

  <p> <%= @matchup.wins %> wins | <%= @matchup.losses %> losses </p>

  <p> <%= link_to 'Add a Win', increment_wins_player_deck_matchup_path(@player, @deck, @matchup), method: :put %> | <%= link_to 'Add a Loss', increment_losses_player_deck_matchup_path(@player, @deck, @matchup), method: :put %></p>

  <p> <%= link_to 'Edit Matchup', edit_player_deck_matchup_path(@matchup.deck.player, @matchup.deck, @matchup) %> </p>

<p> <%= @matchup.notes %> </p>

<p> <%= link_to "Back to #{@matchup.deck.name}", player_deck_path(@matchup.deck.player, @matchup.deck) %> </p>
