<%= form_for @player do |f|%>

<% if @player.errors.any? %>
  <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %>
        stopped the player from being created.  Here's why:
      </h2>
        <% @player.errors.full_messages.each do |msg| %>
          <p> <%= msg %> </p>
        <% end %>
      </div>
    <% end %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :wins %>
  <%= f.text_field :wins %>
</p>

<p>
  <%= f.label :losses %>
  <%= f.text_field :losses %>
</p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
