<h1> Players <%= link_to new_player_path, class: "btn btn-primary btn-lg" do %><i class="glyphicon glyphicon-plus"></i>
  <% end %></h1>
<div class = "row">
  <% @players.each do |player| %>

  <div class = "col-md-6 players_each">


  <p> <%= link_to player.name, player_path(player), class: 'btn btn-success btn-lg' %> | <%= link_to 'edit', edit_player_path(player), class: 'btn btn-success btn-md' %></p>

  <p> Wins: <%= player.get_wins %> </p>

  <p> Losses: <%= player.get_losses %> </p>

</div>
    <% end %>
