<h1> Players <%= link_to new_player_path, class: "btn btn-lg" do %><i class="glyphicon glyphicon-plus"></i>
  <% end %></h1>

  <hr>

<div class = "row">
  <% @players.each do |player| %>

  <div class = "col-md-6 players_each">


  <h1 class="player_index"> <%= link_to player.name, player_path(player), class: 'btn btn-lg' %> | <%= link_to 'edit', edit_player_path(player), class: 'btn btn-md' %></h1>

  <p> Wins: <%= player.get_wins %> </p>

  <p> Losses: <%= player.get_losses %> </p>

</div>
    <% end %>
</div>

<div class="intro_chart">

  <h1 style=> How do the players using Top.deck compare? </h1>

<%= line_chart [
  {name: "Career Wins", data: Player.all.map{|t| [t.name, t.get_wins]}},
  {name: "Career Losses", data: Player.all.map{|t| [t.name, t.get_wins]}}
], {stacked: true} %>

</div>
