<div class= "heading">
      <h1> <%= link_to @player.name, edit_player_path(@player) %></h1>

      <h2> TOTAL PLAYER WINS: <%= @total_wins %> | TOTAL PLAYER LOSSES: <%= @total_losses %> </h2>

      <h4> <%= link_to 'Create A Deck', new_player_deck_path(@player) %> | <%= link_to 'Delete This Player', player_path(@player), method: :delete, data: { confirm: "Are you sure?"} %> </h4>
</div>

<%= pie_chart({"wins" => @total_wins, "losses" => @total_losses}) %>

<h3> Deck Wins By Playstyle </h3>
<%= column_chart [
  {name: "Wins", data: @player.decks.map{|t| [t.play_style, t.get_wins] }},
  {name: "Losses", data: @player.decks.map{|t| [t.play_style, t.get_losses] }}] %>

<div class="container-fluid">
<div class="row">
<% @player.decks.each do |deck| %>
<div class="col-md-5 player_decks">

  <h4> <%= link_to deck.name, player_deck_path(@player, deck) %> | <%= deck.character_class %> </h4>

    <img src="<%= deck.img_url %>">

    <h4> Wins and Losses Against Specific Playstyles </h4>

    <%= column_chart [
      {name: "Wins", data: deck.matchups.map{|t| [t.play_style, t.wins] }},
      {name: "Losses", data: deck.matchups.map{|t| [t.play_style, t.losses] }}] %>

</div>
  <% end %>
</div>
</div>
