<h1> <%= @player.name %> </h1>
<h2> <%= link_to 'Create A Deck', new_player_deck_path(@player) %>

<% @player.decks.each do |deck| %>

  <h4> <%= link_to deck.name, player_deck_path(@player, deck) %> | <%= deck.character_class %> </h4>
  <p> <%= link_to 'Delete This Deck', player_deck_path(@player, deck), method: :delete %> </p>
    <img src="<%= deck.img_url %>">

  <% end %>


  <p> | <%= link_to 'Delete This Player', player_path(@player), method: :delete, data: { confirm: "Are you sure?"} %> | </p>
