<h1> <%= @player.name %> </h1>
<h2> TOTAL PLAYER WINS: <%= @total_wins %> | TOTAL PLAYER LOSSES: <%= @total_losses %> </h2>
<h4> <%= link_to 'Create A Deck', new_player_deck_path(@player) %> | <%= link_to 'Delete This Player', player_path(@player), method: :delete, data: { confirm: "Are you sure?"} %> </h4>

<% @player.decks.each do |deck| %>

  <h4> <%= link_to deck.name, player_deck_path(@player, deck) %> | <%= deck.character_class %> </h4>
    <img src="<%= deck.img_url %>">

  <% end %>


  <p> | <%= link_to 'Delete This Player', player_path(@player), method: :delete, data: { confirm: "Are you sure?"} %> | </p>

<h4> Total Career Wins </h4>
<%= pie_chart @player.decks.group(:character_class).sum(:wins), title: "Wins" %>

<h4> Total Career Losses </h4>
<%= pie_chart @player.decks.group(:character_class).sum(:losses), title: "Losses" %>

<h4> Wins By Class </h4>
  <%= column_chart @player.decks.group(:character_class).average(:wins), ytitle: "Avg Wins", xtitle: "Class" %>

<h4> Wins By Deck </h4>
  <%= bar_chart @player.decks.group(:name).average(:wins), ytitle: "Avg Wins", xtitle: "Deck" %>
