<h1> <%= link_to @deck.player.name, player_path(@deck.player) %>'s <%= @deck.name %>  | <%= link_to '(edit)', edit_player_deck_path(@deck.player, @deck) %> | <%= link_to '(delete)', player_deck_path(@deck.player, @deck), method: :delete, data: {confirm: "Are you sure?"} %></h1>
<h3> <%= @deck.character_class %> </h3>
<img src="<%= @deck.img_url %>">

<p> WINS: <%= @deck.wins %> | LOSSES: <%= @deck.losses %> </p>

<h3> <%= link_to 'Add a Matchup', new_player_deck_matchup_path(@deck.player, @deck) %> | <%= link_to 'View Matchups', player_deck_matchups_path(@deck.player, @deck) %></h3>

<%= link_to '+ card', new_player_deck_card_path(@deck.player, @deck) %>


<div class="deckCards">
<% @deck.cards.each do |card| %>

  <p> Cards: </p>
  <ul>
    <li><%= link_to card.name, player_deck_card_path(@deck.player, @deck, card)%></li>
  </ul>

<% end %>
