<div class = "heading" >
    <h1> <%= link_to @deck.player.name, player_path(@deck.player) %>'s <%= @deck.name %>  </h1>
    <h2> Wins: <%= @total_wins %> |  Losses: <%= @total_losses %>
    <h3> <%= @deck.character_class %> | <%= @deck.play_style %> </h3>
    <img src="<%= @deck.img_url %>">
    <h3> <%= link_to 'Add a Matchup', new_player_deck_matchup_path(@deck.player, @deck) %> | <%= link_to 'View Matchups', player_deck_matchups_path(@deck.player, @deck) %></h3>
</div>

<div class = "deck_bar">
<h3> Wins and Losses Against Specific Classes </h3>

<%= bar_chart [
  {name: "Wins", data: @deck.matchups.map{|t| [t.character_class, t.wins] }},
  {name: "Losses", data: @deck.matchups.map{|t| [t.character_class, t.losses] }}], {stacked: true} %>
</div>

<h3> Wins and Losses Against Specific Playstyles </h3>

<%= bar_chart [
  {name: "Wins", data: @deck.matchups.map{|t| [t.play_style, t.wins] }},
  {name: "Losses", data: @deck.matchups.map{|t| [t.play_style, t.losses] }}], {stacked: true} %>

<div class= "row">
    <div class="col-md-6">
    <p> <%= link_to 'View Cards', player_deck_card_path(@deck.player, @deck) %> | <%= link_to '(+)', new_player_deck_card_path(@deck.player, @deck) %>
  </div>
</div>

<h3 style="text-align:center; margin-top:5%; margin-bottom: 5%"> <%= link_to 'edit deck', edit_player_deck_path(@deck.player, @deck) %> | <%= link_to 'delete deck', player_deck_path(@deck.player, @deck), method: :delete, data: {confirm: "Are you sure?"} %> </h3>
