<!DOCTYPE html>
<html>
  <head>
    <title>Hearthstone</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.highcharts.com'%>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Asul' %>
  </head>

  <nav class="navbar navbar-default navbar-fixed-top" role="naviation">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#background"> Top.deck </a>
      </div>
          <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><%= link_to 'All Players', players_path %></li>
          <li role="presentation"><%= link_to 'All Decks', decks_path %></li>
        </ul>
      </div>
  </div>
</nav>
<div class="main-container">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{type}" %>
      <% end %>
    </div>
  </div>
    <%= yield %>
</div>
<div class="main-container">
</div>
  </body>
</html>
